In [23]:
import pandas as pd
import numpy as np

In [3]:
psg_players = pd.Series(['Navas','NBape','Neymar','Messi'],
           index=[1,7,10,30]
         )

psg_players

1      Navas
7      NBape
10    Neymar
30     Messi
dtype: object

In [7]:
#Define the pandas series with a dictionary 
dic = {1:'Navas',7:'NBape',10:'Neymar',30:'Messi'}
new_team = pd.Series(dic)

In [8]:
new_team[0:3]

1      Navas
7      NBape
10    Neymar
dtype: object

In [9]:
best_players = {'player':['Navas','Mbappe','Neymar','Messi'],
 'height':[183,190,180,170],
 'goal':[2,200,200,200]
}

In [14]:
#Difine my data frame without index 
pd.DataFrame(best_players)

   player  height  goal
0   Navas     183     2
1  Mbappe     190   200
2  Neymar     180   200
3   Messi     170   200

In [20]:
#difine data frame with my own index 
df_players = pd.DataFrame(best_players, index=[1,7,10,30])

In [21]:
#check colums
df_players.columns

Index(['player', 'height', 'goal'], dtype='object')

In [22]:
#check index
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

OPEN FILES

In [34]:
df_books = pd.read_csv('', sep=',', header=0, names=['Nameeeeee', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'])
df_books.columns

Index(['Nameeeeee', 'Author', 'User Rating', 'Reviews', 'Price', 'Year',
       'Genre'],
      dtype='object')

In [38]:
pd.read_json('')

,Name,Link,Descr,Gender,Species/Race,Blood,School,Profession
0,Mrs. Abbott,https://www.hp-lexicon.org/character/abbott-fa...,"Mrs. Abbott was the mother of Hannah Abbott, a...",Female,Witch,Muggle-born,Unknown,Unknown
1,Hannah Abbott,https://www.hp-lexicon.org/character/abbott-fa...,Hannah Abbott is a Hufflepuff student in Harry...,Female,Witch,Half-blood,Hogwarts - Hufflepuff,Landlady of the Leaky Cauldron
2,Abel Treetops,https://www.hp-lexicon.org/character/abel-tree...,Abel Treetops was a wizard from Cincinnati who...,Male,Wizard,Unknown,Unknown,Unknown
3,Euan Abercrombie,https://www.hp-lexicon.org/character/abercromb...,Euan Abercrombie was a small boy with prominen...,Male,Wizard,Unknown,Hogwarts - Gryffindor,Unknown
4,Aberforth Dumbledore,https://www.hp-lexicon.org/character/dumbledor...,"Aberforth Dumbledore was a tall, thin, grumpy-...",Male,Wizard,Half-blood,Hogwarts - Student,Barman
...,...,...,...,...,...,...,...,...
1935,Georgi Zdravko,https://www.hp-lexicon.org/character/georgi-zd...,Georgi Zdravko played Keeper for the Bulgarian...,Male,Wizard,Unknown,Unknown,Quidditch player (Seeker)
1936,Zograf,https://www.hp-lexicon.org/character/zograf/,Zograf played Keeper for the Bulgarian Nationa...,NaN,Wizard,Unknown,Unknown,Quidditch player (Keeper)
1937,Zonko,https://www.hp-lexicon.org/character/zonko/,Founder(?) of Zonko’s Joke Shop. Possibly a re...,NaN,Unknown,Unknown,Unknown,Unknown
1938,Valentina Vázquez,https://www.hp-lexicon.org/character/valentina...,Valentina Vázquez was President of the Argenti...,Female,Witch,Unknown,Unknown,President of the Argentinian Council of Magic
1939,Zygmunt Budge,https://www.hp-lexicon.org/character/zygmunt-b...,Zygmunt Budge is considered to be one of the m...,Male,Wizard,Unknown,Hogwarts - Student,"Potions Master, Potioneer, Inventor, Author"

Loc

In [44]:
#the las position is included
df_books.loc[0:4, ['Nameeeeee', 'Author']]

                                           Nameeeeee                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

In [45]:
#serch with condition 
df_books.loc[:, ['Author']] == 'JJ Smith'

     Author
0      True
1     False
2     False
3     False
4     False
..      ...
545   False
546   False
547   False
548   False
549   False

[550 rows x 1 columns]

ILOC 
Seach for index

In [52]:
df_books.loc[:3]

,Nameeeeee,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction

In [51]:
df_books.iloc[:3,0:3]
            #[rows,colums]

                                 Nameeeeee              Author  User Rating
0            10-Day Green Smoothie Cleanse            JJ Smith          4.7
1                        11/22/63: A Novel        Stephen King          4.6
2  12 Rules for Life: An Antidote to Chaos  Jordan B. Peterson          4.7