In [1]:
import pandas as pd
import numpy as np

In [3]:
psg_players = pd.Series(['Navas','NBape','Neymar','Messi'],
           index=[1,7,10,30]
         )

psg_players

1      Navas
7      NBape
10    Neymar
30     Messi
dtype: object

In [7]:
#Define the pandas series with a dictionary 
dic = {1:'Navas',7:'NBape',10:'Neymar',30:'Messi'}
new_team = pd.Series(dic)

In [8]:
new_team[0:3]

1      Navas
7      NBape
10    Neymar
dtype: object

In [9]:
best_players = {'player':['Navas','Mbappe','Neymar','Messi'],
 'height':[183,190,180,170],
 'goal':[2,200,200,200]
}

In [14]:
#Difine my data frame without index 
pd.DataFrame(best_players)

   player  height  goal
0   Navas     183     2
1  Mbappe     190   200
2  Neymar     180   200
3   Messi     170   200

In [20]:
#difine data frame with my own index 
df_players = pd.DataFrame(best_players, index=[1,7,10,30])

In [21]:
#check colums
df_players.columns

Index(['player', 'height', 'goal'], dtype='object')

In [22]:
#check index
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

OPEN FILES